*{
    --primaty-color: #B2CFA8;
    --secondary-color: #D2DCB6;
    --action-color: #2B3B29;
    --accent-color: #F1F3E0;
    --dark-text-color: black;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    /*background-image: url("./images/backdrop.webp");*/
    /*background-repeat: repeat;*/
    /*background-size: 256px 256px;*/
}

.content-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container footer {
    max-height: 10%;
    flex: 1;
}

/* Nav Bar*/

.nav-container {
    background: var(--action-color);
    width: 300px;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-container a {
    text-decoration: none;
    color: var(--accent-color);
    font-size: large;
    font-weight: bold;
}

a.title-link {
    flex: 0;
    font-size: 25px;
    color: var(--primaty-color);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nc-link {
    width: 250px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
}

.nc-link .dashboard-icon, .nc-link .planner-icon, .nc-link .recipe-icon, .nc-link .stock-icon {
    background-color: var(--accent-color);
}

.active {
    background-color: var(--secondary-color);
}

a.active {
    color: var(--dark-text-color);
}

.active .dashboard-icon, .active .planner-icon, .active .recipe-icon, .active .stock-icon{
    background-color: var(--dark-text-color);
}

.nc-logout-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.nc-logout-button {
    font-size: larger;
    font-weight: bold;
    color: var(--accent-color);
    background: var(--action-color);
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    padding: 10px 30px;
    transition: all 0.2s ease-in-out;
}

.nc-logout-button:hover {
    font-size: larger;
    font-weight: bold;
    color: var(--dark-text-color);
    background: var(--accent-color);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: 10px 30px;
}

/* SVG Icons */
.dashboard-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: var(--dark-text-color); 
    
    -webkit-mask-image: url('./icons/dashboard-2-svgrepo-com.svg');
    mask-image: url('./icons/dashboard-2-svgrepo-com.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.planner-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: var(--dark-text-color);
    
    -webkit-mask-image: url('./icons/calendar-day-svgrepo-com.svg');
    mask-image: url('./icons/calendar-day-svgrepo-com.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.recipe-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: var(--dark-text-color); 
    
    -webkit-mask-image: url('./icons/note-svgrepo-com.svg');
    mask-image: url('./icons/note-svgrepo-com.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.edit-recipe-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: var(--dark-text-color);

    -webkit-mask-image: url('./icons/note-1-svgrepo-com.svg');
    mask-image: url('./icons/note-1-svgrepo-com.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.create-recipe-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: var(--dark-text-color);

    -webkit-mask-image: url('./icons/note-1-svgrepo-com.svg');
    mask-image: url('./icons/note-1-svgrepo-com.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.stock-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: var(--dark-text-color);

    -webkit-mask-image: url('./icons/box-svgrepo-com.svg');
    mask-image: url('./icons/box-svgrepo-com.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.logo-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: var(--primaty-color);

    -webkit-mask-image: url('./icons/book-svgrepo-com.svg');
    mask-image: url('./icons/book-svgrepo-com.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

/* Effects */

.slide-underline {
    position: relative;
}

.slide-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out;
}

.slide-underline:not(.active):hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
